// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3B3C98; // new primary old( #3490dc )

$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$big-image-url: "https://wallpaperaccess.com/full/1554626.jpg"; // https://wallpapercave.com/wp/XMgT2G3.jpg

$middle: 6rem;
$high: 13rem;
$quad-border-radius: 0.9rem;
$quad-border-less: 0.6rem;
$img-border-radius: 3rem;
