// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// My addition
@import "spacing";
@import "utils";
@import "rating";

//@import "~bootstrap-icons/icons";

body {
    background-color: white;
}

.custom-bg-img {
    background-image: url($big-image-url);
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-img-overlay {
    background: linear-gradient(
            to right,
            rgba(0, 0, 0, 0.95) 40%,
            rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.1)
    );
}

.custom-rounder-img {
    border-radius: 3rem !important;
}
