@import "variables";

.spacer {
    letter-spacing: 3px;
}

.white-7 {
    color: rgba(255, 255, 255, 0.7) !important;
}

.pointer {
    cursor: pointer;
}

.custom-control-label::before {
    cursor: pointer;
}

.custom-rounder-img {
    border-radius: $img-border-radius !important;
}

.quad-rounded {
    border-radius: $quad-border-radius !important;
}

.quad-rounded-less {
    border-radius: $quad-border-less !important;
}
